@import "vars.scss";

.no-video-found {
    .no-video-header {
        display: flex;
        justify-content: center;
        margin-top: 23%;

        i {
            color: rgb(128,128,128);
        }
    }
}

:host {
    border-radius: 0%;
    background-size: 100% 100%;
    overflow-x: hidden;
}

.video-card {
    border-radius: 0%;
    min-height: calc(100vh - #{$header-height});
    word-wrap: break-word;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    
    .profile-image {
        background-image: url('https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg');
        background-size: cover;
    }

    .youtube-player-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .youtube-player-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}