<div *ngIf="video == null" class ="no-video-found"> 
    <div class="no-video-header unselectable">
        <i>No learning video found</i>
    </div>
</div>
<div *ngIf="video != null"> 
    <mat-card class="video-card">
        <br>
        <mat-card-header>
        <div mat-card-avatar class="profile-image"></div>
        <mat-card-title>{{video.title}}</mat-card-title>
        <mat-card-subtitle>{{video.date | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <div class="youtube-player-wrapper">
            <iframe
                [src]="('https://www.youtube.com/embed/' + (this.video.url | youtubeId)) | safe"
                title="YouTube video player" 
                frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
        <br>
        <mat-card-content>
        <p>
            {{video.body}}
        </p>
        </mat-card-content>
        <mat-card-actions>        
            <button mat-button color={{currColor}} (click)="onLike()"><mat-icon>thumb_up</mat-icon> {{video.likes}}</button>
            <button mat-button (click)="onComment()">COMMENT</button>
        </mat-card-actions>
        <br>
    </mat-card>
</div>
