.no-threads-container {
    .no-threads-header {
        display: flex;
        justify-content: center;
        margin-top: 23%;

        i {
            color: rgb(128,128,128);
        }
    }
}

.thread-list-item-card {
    min-height: 60px;
    display: block;
    padding: 30px;
}

.thread-list-item-card > *{
    padding-left: 10px;
}

.thread-list-item-card > *:first-child{
    padding-top: 10px;
}

.thread-list-item:not(:first-child) {
    margin-top:20px;
}