<div class="no-threads-container" *ngIf="tmpThreads.length == 0; else threadListContainer">
    <div class="no-threads-header unselectable">
        <i>No community threads found</i>
    </div>
</div>
<ng-template class="thread-list-container" #threadListContainer>
    <br>
    <mat-selection-list #threads [multiple]="false" (selectionChange)="selectThread(threads.selectedOptions.selected[0]?.value)">
        <mat-list-option class="thread-list-item" *ngFor="let thread of tmpThreads" [value]="thread">
            <mat-card class="thread-list-item-card">
                <mat-card-title>{{thread.title}}</mat-card-title>
                <mat-card-content>{{thread.body}}</mat-card-content>
            </mat-card>
        </mat-list-option>
    </mat-selection-list>
    <br>
</ng-template>