<mat-card class="profile-card" *ngIf="this.currentUser != null">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Your Profile</mat-card-title>
    </mat-card-header>

    <form class="profile-form" #userForm="ngForm">
        <div class="form-field name-field">
            <mat-label>First Name:</mat-label>
            <input type="text" [(ngModel)]="currentUser.firstName" name="firstName">
        </div>
        <div class="form-field name-field">
            <mat-label>Last Name:</mat-label>
            <input type="text" [(ngModel)]="currentUser.lastName" name="lastName">
        </div>
        <div class="form-field email-field">
            <mat-label>Email:</mat-label>
            <input type="email" [(ngModel)]="currentUser.email" name="email">
        </div>
        </form>  
        <br>
        <button mat-raised-button class="form-control" color="accent" (click)="onClickUpdate()">Update</button>
</mat-card>
