@import "vars.scss";

$height: 170px;
$width: 500px;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    top: calc(#{$header-height} + 30vh);
    transform: translateY(-50%);

    height: $height;
    width: $width;

    form {
        display: table;
        width: 100%;

        .form-field {
            display: table-row;

            mat-label, input {
                display: table-cell;
                margin-bottom: 5px;
            }

            input {
                width: 90%;
            }
        }
    }

    button {
        float: right;
    }

}