.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

app-header {
    flex-shrink: 0;
    flex-grow: 0;
    border-bottom: 1px solid black;
}

.content {
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}