@import "vars.scss";

.no-thread-found {
    .no-thread-header {
        display: flex;
        justify-content: center;
        margin-top: 23%;

        i {
            color: rgb(128,128,128);
        }
    }
}

:host {
    height: 100%;
    background: rgb(128, 128, 128);
    border-radius: 0%;
    background-size: 100% 100%;
    overflow-x: hidden;
}

.thread-card {
    border-radius: 0%;
    min-height: calc(100vh - #{$header-height});
    word-wrap: break-word;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

    .thread-body {
        font-size: larger;
    }
}
