.no-videos-container {
    .no-videos-header {
        display: flex;
        justify-content: center;
        margin-top: 23%;

        i {
            color: rgb(128,128,128);
        }
    }
}

.video-list-item-card {
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
    cursor: pointer;
    display: flex;
    word-wrap: break-word;
    
    .thumbnail {
        margin-top: 1px;
        margin-bottom: 0px;
        margin-left: 1px;
        max-width: 260px;
        max-height: 146.25px;
    }

    .content{
        display: block;
        left: 290px;
        top: 22px;
        position: absolute;
        
    }
}

.video-list-item-card:not(:first-child) {
    margin-bottom:20px;
}
