@import "forms.scss";

$height: 280px;
$width: 500px;

.background {
    background: blue;
}
.login-button{
    color: white;
}
.register-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: $height;
    width: $width;

    form {
        display: table;
        width: 100%;

        .form-field {
            display: table-row;

            mat-label, input {
                display: table-cell;
                margin-bottom: 5px;
            }

            input {
                width: 90%;
                color: black;
            }
        }
    }

    button {
        float: right;
    }
    
    .line {
        border-bottom: 1px solid rgb(128,128,128);
        margin-bottom: 10px;
    }
}
