

  <nav>
      <label class="logo">Community</label>
      <ul>
         <li>
           <a href="#">
            <mat-icon>search</mat-icon>
            </a>
          </li>
          
          <li>
            <a href="#">
              <mat-icon >account_circle</mat-icon>
             </a>
           </li>
      </ul>
    </nav>
    
  
  
    <div class="rectangle">
      <label class="thread-post-title">Thread Post Title</label>
      <ul>
        <li>
          <a href="#">
           <mat-icon> comment</mat-icon>
           </a>
         </li>
     </ul>
    </div>
    <div class="rectangle">
      <label class="thread-post-title">Thread Post Title</label>
      <ul>
        <li>
          <a href="#">
           <mat-icon> comment</mat-icon>
           </a>
         </li>
     </ul>
    </div>
    <div class="rectangle">
      <label class="thread-post-title">Thread Post Title</label>
      <ul>
        <li>
          <a href="#">
           <mat-icon> comment</mat-icon>
           </a>
         </li>
     </ul>
    </div>
    <div class="thread-section">Test</div>
