<div class="rectangle welcome">
  <label class="title">Welcome to Learnera</label>
</div>

<div class="content">
  <div class="row">
    <div class="rectangle col1" (click)="onSeeVideoCategories()">
      
      <label class="title">See video categories</label>
      <div>
        <mat-icon class="rectangle-icon">menu</mat-icon>
      </div>
      
      <div class="icon-wrapper">
        <mat-icon class="icon">arrow_right_alt</mat-icon>
      </div>
    </div>

    <div class="rectangle col2" (click)="onSeeAllVideos()">
      <label class="title">See all videos</label>
      <div>
        <mat-icon class="rectangle-icon">video_library</mat-icon>
      </div>
      
      <div class="icon-wrapper">
        <mat-icon class="icon">arrow_right_alt</mat-icon>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="rectangle col3" (click)="onSeeAllThreads()">
      <label class="title">See all threads</label>
      <div>
        <mat-icon class="rectangle-icon"> comment</mat-icon>
      </div>
      
      <div class="icon-wrapper">
        <mat-icon class="icon">arrow_right_alt</mat-icon>
      </div>
    </div>

    <div class="rectangle col4"(click)="onEditProfile()">
      <label class="title">Edit Profile</label>
      <div>
        <mat-icon class="rectangle-icon">person_pin</mat-icon>
      </div>
      
      <div class="icon-wrapper">
        <mat-icon class="icon">arrow_right_alt</mat-icon>
      </div>
    </div>
  </div>
</div>
