<app-navigation-bar></app-navigation-bar>

<mat-card class="login-card">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form class="login-form" #userForm="ngForm">
        
        <div class="form-field email-field">
          <mat-label>Email:</mat-label>
          <input type="email" placeholder="Ex. pat@example.com" [(ngModel)]="loggingInUser.email" name="email">
        </div>

        <div class="form-field password-field">
            <mat-label>Password:</mat-label>
            <input type="password" [(ngModel)]="loggingInUser.password" name="password">
        </div>
      
      </form>  
      <br>  
      <a href="/register">Register</a>
      <button mat-raised-button class="form-control" color="accent" (click)="onLogin()">Login</button>
</mat-card>

